<launch>
  <!-- keyboard teleoperation node for omo r1 robot -->
  <node pkg="omo_r1mini_teleop" type="omo_r1mini_teleop_key.py" name="omo_r1mini_teleop_boat"  output="screen">
    <param name="max_lin_vel" value="300" />
    <param name="min_lin_vel" value="-300" />
    <param name="max_ang_vel" value="130" />
    <param name="lin_vel_step" value="10" />
    <param name="ang_vel_step" value="20" />
    <param name="ang_vel_reverse" value="1" />
  </node>
</launch>
